.container-fluid {
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-top: 10px !important;
  height: 900px !important;
}

.margin-top-10-percent {
  margin-top: 10%;
}

.margin-top-15-percent {
  margin-top: 15%;
}

.display-flex {
  display: flex !important;
}

.aling-center {
  width: 100% !important;
  text-align: -webkit-center !important;
}

.margin-text {
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}

.paragraph {
  white-space: pre-wrap;
}

.mb-4-rem {
  margin-bottom: 4rem !important;
}

.widith-0 {
  max-width: 0 !important;
}
