<div class="row mt-5 display-flex">
    <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1 widith-0"></div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 flex-row margin-text">
            <div>
                <h3 class="font-alegreya-sans-bold" style="color: #00e091" jhiTranslate="comoUsar.title"> Como Funciona?</h3>
            </div>
            <div>
                <p class="margin-top-10-percent font-poppins-light" jhiTranslate="comoUsar.subTitle">Conectamos você com um veículo de carga.</p>
            </div>
            <div>
                <p class="margin-top-10-percent paragraph font-poppins-light" jhiTranslate="comoUsar.descricao">Estamos em Florianópolis com um propósito: tornar a sua vida e da sua empresa mais
                    simples e fácil, com a ajuda da tecnologia.</p>
            </div>
            <div class="aling-center mb-4-rem">
                <h2 class="margin-top-15-percent font-alegreya-sans-bold" jhiTranslate="comoUsar.rodape">Chama o SOOB!</h2>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <div class="row">
                <article class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
                    <div>
                        <img src="/content/images/soob-layout-01.png" alt=""/>
                    </div>
                    <div class="margin-text">
                        <h4 class="font-alegreya-sans-bold" jhiTranslate="comoUsar.encontre">Encontre</h4>
                        <p class="font-poppins-light" jhiTranslate="comoUsar.encontreText">Use a plataforma para encontrar um SOOB próximo de você e escolha os serviços.</p>
                    </div>
                </article>

                <article class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
                    <div>
                        <img src="/content/images/soob-layout-02.png" alt=""/>
                    </div>
                    <div class="margin-text">
                        <h4 class="font-alegreya-sans-bold" jhiTranslate="comoUsar.aguarde">Aguarde a confirmação</h4>
                        <p class="font-poppins-light" jhiTranslate="comoUsar.aguardeText">Um motorista irá confirmar o seu pedido.</p>
                    </div>
                </article>

                <article class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
                    <div>
                        <img src="/content/images/soob-layout0-03.png" alt=""/>
                    </div>
                    <div class="margin-text">
                        <h4 class="font-alegreya-sans-bold" jhiTranslate="comoUsar.pronto">Uhuuu, está pronto!</h4>
                        <p class="font-poppins-light" jhiTranslate="comoUsar.prontoText">Só organizar as coisas para a data e hora escolhida.</p>
                    </div>
                </article>
            </div>
        </div>
</div>
