<div class="row display-flex cor-fundo mt-3">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 flex-row mt-5 mb-5">
        <h3 class="font-poppins-medium font-bold title alinha-title" jhiTranslate="motorista.title">title</h3>
        <div class="row alinha-check">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 mt-4 fundo-branco grupo-check">
                <div class="mt-4 mb-4">
                    <input type="checkbox" id="opcaoA" name="opcaoA" value="opcaoA">
                    <label class="font-poppins-light font-size" for="opcaoA" jhiTranslate="motorista.opcaoA">opcaoA</label><br>
                    <input type="checkbox" id="opcaoB" name="opcaoB" value="opcaoB">
                    <label class="font-poppins-light font-size" for="opcaoB" jhiTranslate="motorista.opcaoB">opcaoB</label><br>
                    <input type="checkbox" id="opcaoC" name="opcaoC" value="opcaoC">
                    <label class="font-poppins-light font-size" for="opcaoC" jhiTranslate="motorista.opcaoC">opcaoC</label><br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row display-flex mt-3">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 flex-row mt-5 mb-5">
        <h3 class="font-poppins-medium font-bold alinha-titleB" jhiTranslate="motorista.titleB">titleB</h3>
        <!--UTILITARIO-->
        <div class="row place-content-center ajust-itens">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 mt-4 cor-fundo border-ajust">
                <div class="row alinha-itens">
                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                        <input id="a" type="number" class="widith-70 input-v font-poppins-light color-grey alinha-input"
                               [placeholder]="'0'" min="0">
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <span jhiTranslate="motorista.utilitario" class="font-poppins-light font-bold color-white"></span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <span jhiTranslate="motorista.sporta" class="font-poppins-light size-18 color-grey"></span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <span jhiTranslate="motorista.carroA" class="font-poppins-light color-white paragraph"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--Pequeno/Urbano-->
        <div class="row place-content-center ajust-itens">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 mt-2 cor-fundo border-ajust">
                <div class="row alinha-itens">
                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                        <input id="b" type="number" class="widith-70 input-v font-poppins-light color-grey alinha-input"
                               [placeholder]="'0'" min="0">
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <span jhiTranslate="motorista.pequeno" class="font-poppins-light font-bold color-white"></span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <span jhiTranslate="motorista.sporta" class="font-poppins-light size-18 color-grey"></span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <span jhiTranslate="motorista.carroB" class="font-poppins-light color-white paragraph"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--Medio/Furgao-->
        <div class="row place-content-center ajust-itens">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 mt-2 cor-fundo border-ajust">
                <div class="row alinha-itens">
                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                        <input id="c" type="number" class="widith-70 input-v font-poppins-light color-grey alinha-input"
                               [placeholder]="'0'" min="0">
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <span jhiTranslate="motorista.medio" class="font-poppins-light font-bold color-white"></span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <span jhiTranslate="motorista.sporta" class="font-poppins-light size-18 color-grey"></span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <span jhiTranslate="motorista.carroC" class="font-poppins-light color-white paragraph"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--Toco-->
        <div class="row place-content-center ajust-itens">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 mt-2 cor-fundo border-ajust">
                <div class="row alinha-itens">
                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                        <input id="d" type="number" class="widith-70 input-v font-poppins-light color-grey alinha-input"
                               [placeholder]="'0'" min="0">
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <span jhiTranslate="motorista.toco" class="font-poppins-light font-bold color-white"></span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <span jhiTranslate="motorista.sporta" class="font-poppins-light size-18 color-grey"></span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <span jhiTranslate="motorista.carroD" class="font-poppins-light color-white paragraph"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--Truck-->
        <div class="row place-content-center ajust-itens">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 mt-2 cor-fundo border-ajust">
                <div class="row alinha-itens">
                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                        <input id="e" type="number" class="widith-70 input-v font-poppins-light color-grey alinha-input"
                               [placeholder]="'0'" min="0">
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <span jhiTranslate="motorista.truck" class="font-poppins-light font-bold color-white"></span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <span jhiTranslate="motorista.sporta" class="font-poppins-light size-18 color-grey"></span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <span jhiTranslate="motorista.carroE" class="font-poppins-light color-white paragraph"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
